@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --blue: #00a7df;
  --depGray: #232323;
  --gray: #eceae6;
  --textColor: #292929;
  --lightText: #8f8f8f;
  --fontFamily: "Roboto", sans-serif;
  --font-size: 16px;
  --font-size-small: 12px;
}

.navbarLine::after {
  content: "" !important;
  display: inline-block !important;
  width: 2px !important;
  height: 2.5rem !important;
  background: var(--blue) !important;
}
/* header */
header {
  background: url(img/Header.png);
  background-position: center;
  background-size: cover;
  height: 50vh;
}
header img {
  width: 12%;
}
