@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --blue: #00a7df;
  --depGray: #232323;
  --gray: #eceae6;
  --textColor: #292929;
  --lightText: #8f8f8f;
  --fontFamily: "Roboto", sans-serif;
  --font-size: 16px;
  --font-size-small: 12px;
  --transition: 0.4s ease;
}
.m-right {
  margin-right: 5%;
}
.m-left {
  margin-left: 10%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0 !important;
  font-weight: 500;
  line-height: 1.2;
}

/* navbar */

.bg-light {
  background: var(--gray) !important;
}
nav a.navbar-brand {
  margin-left: 10% !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.navbarLine {
  display: block;
  content: "";
  background: var(--blue);
  height: 2.6rem;
  width: 1px;
}
nav .border-right {
  border-right: 1px solid var(--blue) !important;
  padding-right: 30px;
}
.navbar-brand {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
nav h1 {
  font-size: 1.2rem !important;
  line-height: 1.2 !important;
  font-weight: 300;
}
nav h1 span {
  font-weight: bold;
  font-size: 1.2rem !important;
  letter-spacing: 8px;
}
nav h1 span .noSpace {
  letter-spacing: 0;
}

/* header */
header {
  background: url(img/Header.png);
  background-position: center;
  background-size: cover;
  height: 50vh;
}
header img {
  min-width: 150px;
  width: 12%;
}
